html {
  font-size: 12px;
}

@media screen and (min-width: 1881px) {
  .wrapper {
    max-width: 1280px;
  }

  .about {
    padding: rem(30px) 0;

    &-col {
      &__title {
        font-size: rem(26px);
      }

      &__text {
        font-size: rem(21px);
        line-height: rem(21px);
      }
    }
  }

  .cal-inputs {
    padding: rem(20px) rem(65px);
  }

  .possibilities__round,
  .possibilities .donut-chart.chart4 {
    width: rem(200px) !important;
    height: rem(200px) !important;
  }

  .possibilities__round .quad,
  .possibilities .donut-chart.chart4 .quad {
    width: rem(100px);
    height: rem(100px);
  }

  .possibilities__round .chart-center,
  .possibilities .donut-chart.chart4 .chart-center {
    width: rem(186px);
    height: rem(186px);
  }

  .possibilities-round__large {
    font-size: rem(40px);
  }

  .possibilities-round__normal {
    font-size: rem(24px);
  }

  .calc-count__row {
    & .calc__data__box {
      margin-left: rem(25px);
      min-width: rem(100px);
      max-width: rem(100px);
      font-size: rem(50px);
      height: rem(75px);
    }

    &-title {
      margin-left: rem(25px);
    }
  }

  .quantities__title {
    max-width: rem(520px);
  }
}

@media (max-width: 1880px) {
  .header {
    // Styles...

    &__offer {
      width: 45%;
    }

    &__art {
      width: 55%;

      &-image {
        max-width: 90%;
      }
    }
  }

  .label {
    width: rem(567px);
  }

  .label__check-mark {
    right: rem(35px) !important;
  }

  .acceleration {
    // Styles...

    &__left {
      width: 40%;
    }

    &__right {
      width: 60%;
    }
  }

  .about {
    padding: rem(30px);

    &-col {
      &__title {
        font-size: rem(24px);
      }

      &__text {
        font-size: rem(18px);
        line-height: rem(18px);
      }
    }
  }

  .cal-inputs {
    padding: rem(20px) rem(65px);
  }

  .quantities__title {
    max-width: 80%;
  }

  .calc-count {
    &__title {
      font-size: rem(32px);
    }

    &__button {
      padding-left: rem(25px);
      padding-right: rem(25px);
    }

    &__row {
      &-needed {
        font-size: rem(24px);
      }

      .calc__data__box {
        margin-left: rem(25px);
        min-width: rem(100px);
        max-width: rem(100px);
        font-size: rem(50px);
        height: rem(75px);
      }

      &-title {
        margin-left: rem(25px);
      }
    }
  }

  .possibilities {
    &__round,
    .donut-chart.chart4 {
      width: rem(200px) !important;
      height: rem(200px) !important;

      & .quad {
        width: rem(100px);
        height: rem(100px);
      }

      .chart-center {
        width: rem(186px);
        height: rem(186px);

        &--rounded {
          top: rem(70px);
        }
      }
    }

    .possibilities-round__additional {
      top: -rem(30px);
    }

    &-round {
      &__large {
        font-size: rem(40px);
      }

      &__normal {
        font-size: rem(20px);
      }

      &__additional {
        font-size: rem(16px);
        top: -rem(40px);
      }
    }
  }
}

@media (max-width: 1520px) {
  .header {
    // Styles...

    &__offer {
      width: 55%;
    }

    &__art {
      width: 45%;
    }
  }
}

@media (max-width: 1439px) {
  html {
    font-size: 11px;
  }

  .wrapper {
    max-width: 1170px;
  }
}

@media (max-width: 1279px) {
  html {
    font-size: 10px;
  }

  .wrapper {
    max-width: 1024px;
  }
}

@media (max-width: 1069px) {
  .possibilities {
    padding: rem(25px);
  }
}

@media (max-width: 991px) {
  html {
    font-size: 14px;
  }

  .header {
    // Styles...

    &__offer {
      width: 100%;
    }

    &__art {
      display: none;
    }
  }

  .acceleration__left {
    display: none !important;
  }

  .acceleration__right {
    width: 100%;
    padding-top: rem(15px);
    padding-bottom: rem(15px);
    text-align: center;
  }

  .cal {
    // Styles...

    &__wrapper {
      flex-direction: column;
    }

    &__left {
      width: 100%;
    }

    &__right {
      width: 100%;

      .cal__image {
        margin-top: rem(40px);
      }
    }

    &__title {
      padding-top: rem(20px);
      padding-left: rem(30px);
      padding-bottom: rem(20px);
    }
  }

  .calc {
    // Styles...

    &__container {
      padding: rem(30px) rem(25px);
    }

    &__licenses-wrap {
      flex-direction: column;

      .label {
        width: 100%;
        margin: rem(25px) 0;
      }
    }

    &__data {
      &__row {
        margin-top: rem(40px);

        &-title {
          font-size: rem(32px);
          font-weight: 500;
        }
      }

      &__bottom {
        font-size: rem(16px);
      }
    }

    &__contacts {
      // Styles...

      &__form-input {
        height: rem(50px);
        font-size: rem(28px);
      }

      &__form-label {
        font-size: rem(28px);
      }

      &__form-submit {
        padding: rem(15px) rem(40px);
      }
    }
  }
}

@media (max-width: 767px) {
  .header {
    &__offer {
      padding: rem(35px) rem(30px);

      &-title {
        margin-top: rem(75px);
      }

      &-text {
        margin-top: rem(50px);
      }

      &-btn {
        margin-top: rem(50px);
      }
    }
  }

  .paragraphs {
    padding: rem(35px) rem(30px);
  }

  .cal__left,
  .cal__right {
    padding-left: rem(25px);
    padding-right: rem(25px);
  }

  .versions {
    margin-top: 0;
    padding-top: rem(25px);
    padding-left: rem(25px);
    padding-right: rem(25px);
  }

  .calc {
    // Styles...

    &__license-type__description {
      font-size: rem(24px);
    }

    &__description__paragraph {
      font-size: rem(24px);
    }

    &__data {
      // Styles...

      &__box {
        min-width: rem(120px);
        max-width: rem(120px);
        height: rem(50px);
        font-size: rem(34px);

        &-title {
          font-size: rem(24px);
          margin-left: rem(30px);
        }

        &-annotation {
          font-size: rem(14px);
          bottom: -rem(30px);
        }
      }
    }
  }
}

@media (max-width: 567px) {
  .header {
    &__offer {
      &-title {
        margin-top: rem(50px);
      }

      &-text {
        margin-top: rem(35px);
        font-size: rem(24px);
      }

      &-btn {
        margin-top: rem(35px);
        padding: rem(15px) rem(25px);
      }
    }
  }

  .paragraphs {
    &__item {
      font-size: rem(24px);
    }
  }

  .cal {
    // Styles...

    &__text {
      font-size: rem(24px);
    }
  }

  .table {
    td {
      &:first-of-type,
      &:nth-child(2),
      &:nth-child(3),
      &:last-of-type {
        font-size: rem(20px);
      }
    }
  }

  .calc__licenses .label__text {
    margin-right: 0 !important;
  }
}

@media (max-width: 425px) {
  .header__offer {
    padding: rem(15px) rem(10px);

    &-title {
      margin-top: rem(35px);
    }

    &-text {
      font-size: rem(19px);
    }
  }

  .acceleration__right-title {
    font-size: rem(24px);
  }

  .versions {
    padding-top: rem(15px);
    padding-left: rem(10px);
    padding-right: rem(10px);
  }

  .calc__container {
    padding: rem(15px) rem(10px);
  }

  .calc__text--first {
    font-size: rem(19px);
  }

  .calc__licenses-wrap {
    .label {
      margin: rem(15px) 0;

      &__check-mark {
        width: rem(24px);
        height: rem(24px);

        &:after {
          left: 6px;
          top: 6px;
        }
      }

      &__description {
        padding-left: rem(15px);
        font-size: rem(19px);
      }

      &__text {
        margin-left: rem(15px) !important;
      }
    }
  }

  .calc__contacts__form-input {
    width: 60%;
    font-size: rem(24px);
  }

  .calc__contacts__form-label {
    font-size: rem(20px);
    margin-left: rem(25px);
  }

  .calc__contacts__form-submit {
    padding: rem(10px) rem(25px);
    font-size: rem(19px);
  }
}

@media (max-width: 374px) {
  .header__offer {
    &-title {
      //font-size: rem(30px);
    }
  }

  .acceleration__right-title {
    font-size: rem(20px);
  }

  .paragraphs {
    padding: rem(15px) rem(10px);

    &__item {
      font-size: rem(19px);
      margin-top: rem(15px) !important;
    }
  }

  .cal {
    &__left,
    &__right {
      padding-left: rem(10px);
      padding-right: rem(10px);
    }

    &__text {
      margin-top: 0;
      font-size: rem(19px);
    }

    &__right .cal__text {
      margin-top: rem(20px);
    }
  }

  .calc {
    &__description {
      &__paragraph {
        font-size: rem(19px);
      }

      &__title {
        font-size: rem(30px);
      }
    }

    &__license-type {
      &__title {
        font-size: rem(24px);
      }

      &__description {
        font-size: rem(20px);
        padding-left: 0;
      }

      &__check-mark {
        width: rem(24px);
        height: rem(24px);

        &:after {
          top: 6.5px;
          left: 6.5px;
        }
      }
    }

    &__data {
      &__title {
        font-size: rem(24px);
      }

      &__box {
        height: rem(40px);
        font-size: rem(19px);
        min-width: rem(100px);
        max-width: rem(100px);

        &-title {
          font-size: rem(19px);
        }
      }

      &__row {
        margin-top: rem(30px);

        &.mt {
          margin-top: rem(20px);
        }

        &-title {
          margin-top: rem(45px);
          font-size: rem(24px);

          &.base-license {
            margin-top: rem(65px);
          }
        }
      }
    }
  }

  .calc__contacts__form-row {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .calc__contacts__form-label {
    margin-left: 0;
  }

  .calc__contacts__form-input {
    width: 100%;
    height: rem(40px);
    margin-top: rem(10px);
  }
}
